.board-card::-webkit-scrollbar {
    display: none;
}

.board-card {
    overflow: scroll;
    position: relative;
    padding: 50px;
    width: calc(600px - 100px);
    max-height: 80%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 8px solid white;
}

#board-card #title {
    color: #2A3647;
}

.board-card-prio {
    display: flex;
    align-items: center;
}

.prio-container-board {
    color: white;
    border-radius: 10px;
    padding: 4px 18px 4px 18px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board-card-assigned,
#assignedTo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    gap: 15px;
}

.board-card-assigned {
    width: 75%;
}

#assignedTo {
    width: 100%;
}

.assigned-contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.board-card-subtasks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.board-card-subtask {
    display: flex;
    flex-direction: column;
}

.board-card-subtask-checkbox {
    display: flex;
}

.card-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.edit-card {
    align-self: flex-end;
    display: flex;
    z-index: 60;
}

.btn-delete {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    border-radius: 10px 0px 0px 10px;
    background-image: url(../assets/img/delete.png);
    background-repeat: no-repeat;
    background-position: center;
}

.btn-animation-invert:hover {
    border: 1px solid #29ABE2;
    background-image: url(../assets/img/delete-hover.png);
}

.btn-animation-invert:active {
    border: 1px solid #091931;
    background-image: url(../assets/img/delete-active.png);
}

.btn-edit {
    width: 50px;
    height: 50px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 0px 10px 10px 0px;
}

.edit-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-input input:not([type='checkbox']),
.edit-input textarea {
    padding: 13px 21px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    outline: none;
}

#prio-edit {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.edit-prio-btn {
    border-radius: 10px;
    padding: 18px 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    background-color: white;
    width: calc(34% - 10px);
}

.prio-image {
    display: flex;
}

.prio-image-active {
    display: none;
}

.edit-prio-btn.active {
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 700;
    border: none;
}

.edit-prio-btn.active .prio-image {
    display: none;
}

.edit-prio-btn.active .prio-image-active {
    display: flex;
}

.edit-prio-btn:hover {
    box-shadow: rgb(186, 189, 189) 0px 4px 3px 0px;
    border: none;
}

.edit-prio-btn-urgent.active {
    background-color: #ff3d00;
}


.edit-prio-btn-medium.active {
    background-color: #FFA800;
}

.edit-prio-btn-low.active {
    background-color: #7AE229;
}

#assigned-edit-contacts-container {
    max-height: 153px;
    overflow: auto;
}

.assigned-edit-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 21px;
    cursor: pointer;
}

.assigned-edit-contact:hover {
    background-color: #d8d4d4;
}

.assigned-edit-contact-new {
    background-image: url(../assets/img/contactsaddtask.svg);
    background-repeat: no-repeat;
    background-position: 95%;
}