body {
    font-style: normal;
    background: #F5F5F5;
    user-select: none;
}

/*--------------------------------------------------
Global Elements
---------------------------------------------------*/
.addtask-create {
    z-index: 50;
    cursor: pointer;
    transform: translateX(100vw);
    transition: all 220ms ease-in-out;
}

.addtask-bnt-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.addtask-prio-whichBnt {
    gap: 5px;
}

.amogus {
    flex-direction: column;
    margin-top: 63px;
    margin-left: 31px;
    margin-right: 74px;
    margin-bottom: 100px;
}

.addtask-title {
    margin-top: 0px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
}

.addtask-checkbox {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 7px;
    top: 15px;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border: 1px solid #000000;
    border-radius: 3px;
}

.select-task-category-img-2 {
    position: absolute;
    right: 5px;
    top: 12px;
}

@media (max-width: 900px) {
    .d-nonemax1300 {
        display: none;
    }

    .amogus {
        flex-direction: column;
        margin-top: 20px;
        margin-right: 34px;
        margin-bottom: 100px;
    }

    .addtask-create {
        position: fixed !important;
        top: 13px;
        right: 25px;
        width: 124px;
        height: 51px;
        background: #2A3647;
        border-radius: 10px;
    }

    .addtask-title {
        margin-top: 10px;
    }

    .addtask-tasktitle {
        order: 1;
    }

    .addtask-description {
        order: 2;
    }

    .addtask-prio {
        order: 6;
    }

    .addtask-duedate {
        order: 5;
    }

    .addtask-category {
        order: 3;
    }

    .addtask-assigned-to {
        order: 4;
    }

    .addtask-subtasks {
        order: 7;
    }
}

@media (min-width: 900px) {
    .d-nonemin1300 {
        display: none;
    }

    .addtask-tasktitle {
        order: 1;
    }

    .addtask-description {
        order: 2;
    }

    .addtask-prio {
        order: 6;
    }

    .addtask-duedate {
        order: 5;
    }

    .addtask-category {
        order: 3;
    }

    .addtask-assigned-to {
        order: 4;
    }

    .addtask-subtasks {
        order: 7;
    }

    .lobby {
        display: flex;
        width: 120%;
    }

    .amogus {
        display: flex;
        order: 1;
        float: left;
        z-index: 100;
        width: 33%;
        margin-right: 0px;
    }

    .imposter {
        position: relative;
        display: flex;
        flex-direction: column;
        float: right;
        margin-top: 143px;
        width: 33%;
        order: 3;
    }

    .line {
        order: 2;
        width: 0px;
        margin-top: 180px !important;
        margin-bottom: -80px !important;
        margin: 50px;
        height: 551px;
        border: 1px solid #D1D1D1;
    }

    .h-menu {
        display: flex;
    }

    .addtask-gentext {
        padding-top: 34px;
        padding-bottom: 8px;
    }

    .addtask-clear-bnt {
        border: 1px solid #2A3647;
        border-radius: 10px;
        box-sizing: border-box;
        width: 136px;
        height: 55px;
        cursor: pointer;
        padding: 0;
    }

    .addtask-create {
        gap: 25px;
        border: unset;
        position: fixed;
        bottom: 15%;
        right: 13%;
        padding: 0;
    }

    .addtask-create-bnt {
        background: #2A3647;
        width: 187px;
        height: 55px;
        border-radius: 10px;
    }

    .addtask-create-bnt:hover {
        border: 1px solid #28aae2;
        background-color: #28aae2;
        box-shadow: 0px 20px 20px -10px #babdbd;
    }

    .addtask-clear-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        color: #2A3647;
    }

    .addtask-duedate {
        display: unset;
    }

    .addtask-subtasks {
        display: unset;
    }
}

@media (max-width: 1300px) {
    .addtask-flex-moba {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1300px) {
    .lobby {
        width: 130%;
    }
}